
.hr{
    width: 85.5%;
    margin-left: 89px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0px;
}
 
.texto-encima{
    position: absolute;
    top: 150px;
    left: 60px;
    color: white;
}

.menu-img{
    width: 100%;
    height: 250px;
}

.SideMenu-container{
    background-color: white;
    font-family: Georgia;
    font-weight: 0.5;
    font-size: 1em;
    border-color:#F2F2F2;
    width:100%;
    height:auto;
    position:static;
    margin: 0px;  
}

.SideMenu-input{
    height: auto;
    width: 8%;
    font-size: 1em;
    font-family: Georgia;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float: right;
}

.SideMenu-button{
    height: auto;
    width: 5%;
    color: black;
    background-color: white;
    border: 2px solid #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float: right;  
}

.SideMenu-h1{
    color:black; 
    float: left;
    font-size: 30px;
    height:auto;
    padding: 10px;
    font-family: Georgia;
}

nav{
    padding: 20px;   
}

.elivi{
    list-style-type: none;    
}

.fac{
    display: inline;    
    padding: 0rem 0.7rem 0rem 0.7rem;   
    line-height: 1.8rem;
    color: #A9A9A9;
    font-size: 18px;
    font-family: Georgia; 
}

nav{
    margin: 0rem 0rem 0rem 0rem;
    background-color: white;
    height: 35px;
    width: 100%; 
}

nav a {
    text-decoration: none; 
    color: black; 
    color: #A9A9A9;
    background-color: #F5F5F5;
    border-radius: 18px;
    font-size: 18px;
    padding: 10px;  
    margin-top: 20px; 
    font-family: Georgia; 
}

nav a.visited{
    text-decoration: none; color: #696969;    
}

nav a.active{
    text-decoration: none; color:white;    
}

nav a:hover{
    text-decoration: none; color: #FFFFFF;    
    background: #6ee8ff;
}
        
#menuA {   
    position: absolute; 
    margin: 2.5rem 0.5rem 0.5rem -0.4rem; 
    float: left; 
    font-weight: 900;
    font-family:verdana,arial; 
    width: 23%; 
    min-width: 200px; 
    line-height: 20pt; 
    z-index: 4; 
}  
    
.showme{               
    position: absolute; 
    margin: -1rem 0rem 0rem 1rem;
    padding: 0.5rem 1.5rem 0.5rem 0.3rem; 
    width: 12rem; 
    background-color:  white; 
    display: none; 
    text-align: left; 
    line-height: 2.5rem;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
} 

.showhim:hover .showme{ 
    display: block; 
}

.menumov {
    position: absolute;
    text-align: center;
    margin: -3rem 0rem 0rem 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-decoration: none; 
    color:white; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: white;
}

@media screen and (min-width: 1000px){
   
    #menuA{
        display:none;
    }
}

@media screen and (max-width: 1000px){
    
    #menuA{
    display:none;
    }
}

@media screen and (max-width: 750px){
    
    .elivi {
        display:none;
    }
    
    #menuA{
        display:block;
    }  
}

@media screen and (max-width: 550px){
    
    #menuA{
        display:block;
    }  
    .SideMenu-input, .SideMenu-button{
        width: 20%;
    }
    .SideMenu-h1{
        float: initial;
    }
}
