.prev{
 background-color: white;
 border: 0px;
}

.box-prev{
  float: left;
  margin-right: 900px;
  position: relative;
  top: 410px;
 
  right: 1100px;
  margin: 20px;
  width: 4%;
  height: auto;
 
}


.box-next{
  float: right;
  margin-left: 900px;
  position: relative;
  top: 410px;
  margin: 20px;
  right: 90px;
  width: 4%;
  height: auto;
}

.message{
  background-color: white;
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 280px;
  color: #6ee8ff;
}

.modal-img{
  width: 30%;
  height: auto;
} 

.modal-button{
  background-color: #f4ed01;
  

  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  border: 0px;
  position: absolute;
  top: 130px;
  left: 400px;
  color: white;
 }

 @media screen and (max-width: 800px) {   
  .box-prev{
    float: left;
    
    position: relative;
    top: 450px;
   left: 1px;
     right: 8000px;
    margin: 5px;
    width: 8%;
   
  }
  
  
  .box-next{
    float: right;
    margin-left: 10px;
    position: relative;
    top: 450px;
    margin: 5px;
    right: 30px;
    width: 8%;
  }
}

@media (max-width: 400px) { 
  .box-prev{
    float: left;
    margin-right: 10px;
    position: relative;
    top: 10px;
   left: 29px;
    right: 30px;
    margin: 5px;
    width: 14%;
   
  }
  
  
  .box-next{
    float: right;
    margin-left: 10px;
    position: relative;
    top: 10px;
    margin: 5px;
    right: 30px;
    width: 14%;
  }
}

 